

.App {
  text-align: center;
}

.landing-wrapper {
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top left;
  height: 100vh;
  width: 100vw;
  position: relative;
}


a {
  list-style: none;
  text-decoration: none;
  color: black;
}


.navBar-items {
  padding-bottom: 2%
}

.navBar-items p {
  margin-bottom: 4%;
  margin-top:3%;
}

.nav-content {
  opacity: 0%;
  transition: .3s;
}

.nav-content-expanded {
  opacity: 100%;
  transition: .3s ;
}

.nav-container{
  display: flex;
  flex-direction: column;
  margin-left: 85%;
  padding-left: 2%;
  padding-top: 1%;
 transition: .3s;
}

.nav-container-expanded{
  background-color: #D1DFD8;
  display: flex;
  flex-direction: column;
  margin-left: 80%;
  padding-left: 2%;
  padding-top: 1%;
  transition: .3s
  
}

.mainBtn {
  display: flex;
  background-color: #D1DFD8;
  min-height: 4em;
  margin-top: 20em;
  padding-top: 1em;
  justify-content: center;
  min-width: 95%;
  border-radius: 10px;
  box-shadow:2px 2px 8px grey  ;
}

.mainBtn a {
  font-size: 2.5em;
  color:white;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: 500;

}



.main-content {
  display: flex;
  margin-left: 2em;
  margin-right: 2em;
 justify-content: center;
 
}

.main-content button {
  outline: none;
  border: none;
  /* background-color: #D1DFD8; */
  /* border-radius: 10px; */
  /* font-size: x-large; */
  /* box-shadow: black; */
  color: white;
  /* font-weight: bold;
  margin-bottom: 10%; */
  
}

.booking-containers {
  /* padding-top: 40%; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-container {
  outline: none;
  flex-direction: column;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  background-color: #F1D1D8;
  height: 10vh;
  transition:0.5s cubic-bezier(0.36, 0, 0.66, -0.56);
  overflow: hidden;
  overflow-y: hidden;
  overflow-y: hidden;
  position: relative;
  opacity: 0%;
  max-width: 85%;
  margin-top: -8%;
  pointer-events: none;
  
}

.service-container-expanded {
  outline: none;
  flex-direction: column;
  border: none;
  cursor: pointer;
  display: flex;
  background-color: #F1D1D8;
  height: 60vh;
  transition: ease-in .6s;
  overflow: auto;
  position: relative;
  margin-top: -3%;
  margin-bottom: 5%;
  max-width: 85%;
  height: 50vh;
}

.service-container-header {
  display: flex;
  justify-content: space-between;
  position: absolute 0px 0px 0px 0px;
  background-color: #F1D1D8;
  border-radius: 10px;
  min-width: 85%;
}


.service-container-btn {
  background: none;
  padding-left: 0%;
  border-color: transparent;
  transition: 0.5s cubic-bezier(0.36, 0, 0.66, -0.56);
  display: inline-block;     
  position: relative;


}

.service-container-btn-expanded {
  background: none;
  position: relative;
  border-color: transparent;
  transform: rotate(90deg);
  transition: 0.4s ease-in;
  padding-left: 0%;
} 

.service-container-content {
  margin-left: 4%;
  margin-right: 4%;
  
}

.card-title {
  margin-bottom: 0%;
  font-weight: 700;
}

.card-time-price {
  margin-top: 0%;
  font-size: 16px;
  font-weight: 600;
}

.card-description {
  font-weight: 500;
}

.card-footnote-list {
  font-weight: 500;
}

.slider-container {
  display: flex;
  justify-content: center;

}

/* Carousel Styling */

.slider {
    position: relative;
    width: 50vw;
    height: 20vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    overflow: hidden;
    background: none;

  }
  
  .slide {
    min-width: 100%;
    height: 100%;
    transition: 0.5s; 
    overflow: hidden;
  }


.carousel {
  display: flex;
  justify-content: center;
}

.left-button{
    border: none;
    border-radius: 2px;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    background: none;
    outline: none;
    font-size: x-small;
    
  }
  
  .right-button {
    right: 0;
    border: none;
    border-radius: 2px;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    background: none;
    outline: none;
    font-size: x-small;
  }

.iconButton {
  position: relative;
  }

.flaming-footer img{
  max-width: 100%;
}

.footer {
  background-color: #D1DFD8;
  width: 100%;
  position: relative;
  min-height: 15%;
  display: flex;
  justify-content: space-between;
  margin-top: -1%;
  }


.left-side {
  flex-direction: column;
  display: flex;
  margin-left: 2%;
}

.left-side p{
  margin-top: 8%;
  margin-bottom: 8%;
}

.right-side {
  display: flex;
  margin-right: 2%;
}

.right-side a {
  padding-right: 10px;
}

