@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:regular,bold,italic&subset=latin,latin-ext');

.App {
  text-align: center;
  font-family: 'Oswald';
}

.landing-wrapper {
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top left;
  height: 100vh;
  width: 100vw;
  position: absolute;
}

a {
  list-style: none;
  text-decoration: none;
  color: black;
}


.navBar-items {
  padding-bottom: 2%
}

.navBar-items p {
  margin-bottom: 4%;
  margin-top:3%;
}

.nav-content {
  opacity: 0%;
  transition: 1s;
}

.nav-content-expanded {
  opacity: 100%;
  transition: 1s ;
}

.nav-container{
  display: flex;
  flex-direction: column;
  margin-left: 85%;
  padding-left: 2%;
  padding-top: 1%;
  transition: 1s;
  
}

.nav-container-expanded{
  background-color: #D1DFD8;
  display: flex;
  flex-direction: column;
  margin-left: 80%;
  padding-left: 2%;
  padding-top: 1%;
  transition: 1s;
  
}



.main-content {
  padding-top: 31%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 0%
  
}

.service-container {
  outline: none;
  flex-direction: column;
  border: none;
  /* border-radius: 10px; */
  cursor: pointer;
  display: flex;
  background-color: #D1DFD8;
  height: 10vh;
  transition:0.5s cubic-bezier(0.36, 0, 0.66, -0.56);
  overflow: hidden;
  overflow-y: hidden;
  overflow-y: hidden;
  position: relative;
  opacity: 0%;
  max-width: 90%;
  margin-top: -8%;
  pointer-events: none;
}

.service-container-expanded {
  outline: none;
  flex-direction: column;
  border: none;
  /* border-radius: 0px 0px 10px 10px; */
  cursor: pointer;
  display: flex;
  background-color: #D1DFD8;
  height: 60vh;
  transition: ease-in .6s;
  overflow: auto;
  position: relative;
  margin-top: -3%;
  margin-bottom: 5%;
  max-width: 90%;
  height: 50vh;
}



.service-container-btn {
  background: 0%;
  padding-left: 0%;
  border-color: transparent;
  transition: 0.5s cubic-bezier(0.36, 0, 0.66, -0.56);
  display: inline-block;     
  position: relative;


}

.service-container-header {
  display: flex;
  justify-content: space-between;
  position: absolute 0px 0px 0px 0px;
  background-color: #D1DFD8;
  /* border-radius: 10px; */
  min-width: 90%;
  
}

.service-container-btn-expanded {
  background: 0%;
  position: relative;
  border-color: transparent;
  transform: rotate(90deg);
  transition: 0.4s ease-in;
  padding-left: 0%;
}

.service-container-content {
  margin-left: 4%;
  margin-right: 4%;
  
}

.card-title {
  margin-bottom: 0%;
  font-weight: 700;
}

.card-time-price {
  margin-top: 0%;
  font-size: 16px;
  font-weight: 600;
}

.card-description {
  font-weight: 500;
}

.card-footnote-list {
  font-weight: 500;
}

.slider-container {
  display: flex;
  justify-content: center;

}

/* Carousel Styling */

.slider {
    position: relative;
    width: 50vw;
    height: 20vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    overflow: hidden;
    background: none;

  }
  
  .slide {
    min-width: 100%;
    height: 100%;
    transition: 0.5s; 
    overflow: hidden;
  }


.carousel {
  display: flex;
  justify-content: center;
}

.left-button{
    border: none;
    border-radius: 2px;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    background: none;
    outline: none;
    font-size: x-small;
    
  }
  
  .right-button {
    right: 0;
    border: none;
    border-radius: 2px;
    text-transform: uppercase;
    cursor: pointer;
    color: white;
    background: none;
    outline: none;
    font-size: x-small;
  }

.iconButton {
  position: relative;
  }


.footer {
  background-color: #D1DFD8;
  width: 100%;
  position: relative;
  top: 8%;
  min-height: 15%;
  display: flex;
  justify-content: space-between;
  }


.left-side {
  flex-direction: column;
  display: flex;
  margin-left: 2%;
}

.left-side a{
  padding-bottom: 8%;
}

.right-side {
  display: flex;
  margin-right: 2%;
}

.right-side a {
  padding-right: 10px;
}

