.App {
  text-align: center;
}

.landing-wrapper {
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top left;
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.main-content {
  padding-top: 64%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.service-container {
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  background-color: #D1DFD8;
  height: 10vh;
  transition: ease-in .6s;
  overflow: auto;
  position: relative;
  font-family: Oswald;
  margin-bottom: 10%;
}

.service-container-expanded {
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  background-color: #D1DFD8;
  height: 60vh;
  transition: ease-in .6s;
  overflow: auto;
  position: relative;
  font-family: Oswald;
  margin-bottom: 10%;
}

.service-container-header {
  display: flex;
  justify-content: space-between;
}

.service-container-btn {
  background: 0%;
  border-color: transparent;
}

.service-container-content {

}





