.App {
  text-align: center;
}

.landing-wrapper {
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top left;
  height: 100vh;
}

.title-text {
  display: flex;
  flex-direction: column;
  float: right;
  line-height: 1;
  width: 50%;
  align-items: center;
}

h1 {
  margin: 0;
  padding-top: 0px;
  padding-bottom: 0px;
}

.top {
  align-self: flex-start;
  padding-left: 15%
}

.bottom {
  align-self: flex-end;
  padding-right: 17%;
}


