.App {
  text-align: center;
}

.backgroundImage {
  height: 100vh;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../src/iPhone\ 11\ Pro\ Max\ -\ 1\ \(2\).jpg);
  background-repeat: no-repeat;
  
}

.title-text {
  display: flex;
  flex-direction: column;
  float: right;
  line-height: 1;
  width: 50%;
  align-items: center;
}

h1 {
  margin: 0;
  padding-top: 0px;
  padding-bottom: 0px;
}

.top {
  align-self: flex-start;
  padding-left: 15%
}

.bottom {
  align-self: flex-end;
  padding-right: 17%;
}


