.App {
  text-align: center;
}

.landing-wrapper {
  background-size: auto;
  background-repeat: no-repeat;
  background-position: top left;
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.service-container {
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  background-color: #D1DFD8;
  height: 10vh;
  transition: ease-in .6s;
  overflow: auto;
  position: relative;
  width: 85vw;
  font-family: Oswald;
  margin-bottom: 10%;
}

.main-content {
  padding-top: 64%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.flex-item1 {
  display: flex;
  align-items: center;
}

.flex-item1 a {
  padding-left: 15%;
}




